<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: head">
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Memo</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/memos">memos <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="/memos/archived">Archived memos</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container-fluid">

        <h3>Memo列表</h3>
        <ul class="list-group">
            <li class="list-group-item" th:each="memoImpl:${memos}" th:if="${memoImpl.archived == true}">

                <div class="media" >
                    <div class="media-heading">
                        <h3>
                            <a  th:href="@{/memos/archived/{memoId}(memoId=${memoImpl.id})}"
                               th:text="${memoImpl.title}">title</a></h3>
                        <h5  th:text="${memoImpl.text}">title</h5>
                        <h6  th:text="${memoImpl.labels}"></h6>
                    </div>
                    <span  th:text="${'創建時間 ' + memoImpl.timestamp}"></span>
                    <div class="media-right media-middle pull-right">
                        <form th:method="DELETE"
                              th:action="@{/memos/archived/{memoId}(memoId=${memoImpl.id})}">
                            <button class="btn btn-danger" type="submit">删除
                            </button>
                        </form>
                    </div>
                    <div class="media-right media-middle pull-right">
                        <button type="button" class="btn btn-primary editButton"
                                data-toggle="modal"
                                th:attr="data-memo-id=${memoImpl.id},
							data-memo-title=${memoImpl.title},
		                    data-memo-text=${memoImpl.text},
		                    data-memo-labels=${memoImpl.labels},
		                    data-memo-archived=${memoImpl.archived}">編輯
                        </button>
                    </div>
                </div>
            </li>
        </ul>

        <div id="memoEditModal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form id="editForm" action="#" th:method="PUT"
                                  th:object="${memoImpl}">
                                <input id="memoId" th:field="*{id}"
                                       hidden="true" type="text"/>
                                <div class="row form-group">
                                    標題：
                                    <input id="memoTitle" th:field="*{title}"
                                           type="text" class="form-control"
                                           placeholder="標題"/>
                                </div>
                                <div class="row form-group">
                                    內容：
                                    <textarea id="memoText" th:field="*{text}"
                                              class="form-control" rows="5"
                                              style="resize: vertical"
                                              placeholder="內容"></textarea>
                                </div>
                                <div class="row form-group">
                                    <input id="memoLabels" th:field="*{labels}" type="text" class="form-control"
                                           placeholder="標籤"/>
                                </div>
                                <div class="row form-group">
                                    archived
                                    <input id="memoArchived" type="checkbox" th:field="*{archived}"
                                           class="form-control"/>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-default"
                                            data-dismiss="modal">取消
                                    </button>
                                    <button class="btn btn-primary"
                                            type="submit">確認修改
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script>

    $(document).ready(function () {
        $(".editButton").click(function (event) {
            event.preventDefault();
            let memoId = $(this).data('memo-id');
            let memoTitle = $(this).data('memo-title');
            let memoText = $(this).data('memo-text');
            let memoLabels = $(this).data('memo-labels');
            let memoArchived = $(this).data('memo-archived');
            $("#memoEditModal").modal();

            $(".modal-body #memoId").val(memoId);
            $(".modal-body #memoTitle").val(memoTitle);
            $(".modal-body #memoText").val(memoText);
            $(".modal-body #memoLabels").val(memoLabels);
            $(".modal-body #memoArchived").val(memoArchived);
            $(".modal-body #editForm").attr('action', "/memos/archived");
        })
    });
</script>
</html>